<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.goldze.weex">
    <!--网络请求-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读取储存-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--请求相机-->
    <uses-permission android:name="Manifest.permission.CAMERA" />
    <!--获取经纬度-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application>
        <activity android:name=".ui.WeexPagerActivity"></activity>
    </application>
</manifest>
